.phone-keyboard {
    border: solid 1px #fff;
}
.phone-keyboard .keyboard-button {
    width: 20%;
    margin-left: 10%;
    min-height: 62px;
    margin-bottom: 10%;
    cursor: pointer;
}
.phone-keyboard .keyboard-output {
    margin-top: 10%;
}

.phone-keyboard .keyboard-output .input-keyboard {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;
}

.phone-keyboard .keyboard-reset .keyboard-button:hover {
    background-color: #ff0000;
    border-color: red;
    color: #ffffff;
}
