.contact-list {
    height: 83.5vh;
    border: solid 1px #ffffff;
    padding: 15px;
}

.contact-list .contact-list-header {

}

.contact-list .contact-list-body {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.contact-list .contact-list-body .list-group-item {
    background: none;
    cursor: default;
}
